/*
some wallpapers i found might put more if im bothered enough to do so
https://wallpapercave.com/download/gradient-wallpaper-MoJBWga?nocache=1
*/

* {
    font-family: Arial;
}

body {
  background-image: url("https://wallpapercave.com/download/gradient-wallpaper-MoJBWga?nocache=1");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000;
}


#clock {
    font-size: 500%;
    text-align: center;
    color: white;
}


.boxes {
    display: block;
}
