/*
https://wallpapercave.com/download/gradient-wallpaper-MoJBWga?nocache=1
 Linked to Homepage.html */

* {
    font-family: Arial;
}

body {
  background-image: url("");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000;
}


#clock {
    font-size: 500%;
    text-align: center;
    color: white;
}


.boxes {
    display: block;
}
